<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>">
<head>
  <% include ../partials/header.ejs %>
  <% var URL_LANG = espanol ? "?lang=es":"";  %>
  <title><%= espanol ? "Wavy":"Wavy - A lightweight Node app for multimedia projects." %></title>
  <meta property="og:title" content="<%= espanol ? "Wavy - Un proyecto multimedia por UNC School of Media and Journalism": "Wavy - A lightweight Node app for multimedia projects." %>" />
  <meta property="og:image" content="http://cubasnewwave.unc.edu/assets/images/features/home.jpg" />

</head>

<body class="homepage">

  <% include ../partials/nav.ejs %>

  <div id="index-container">
    <h1>Hello, world. I'm Wavy.</h1>
  </div>

  </div>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
